<div class="row">
  <div class="col-9">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Email</th>
          <th scope="col">Acions</th>
        </tr>
      </thead>
      <tbody>
        <% @friends.each do |friend| %>
          <tr>
            <th><%= friend.first_name %></th>
            <td><%= friend.last_name %></td>
            <td><%= friend.email %></td>
            <td class="text-center">
              <%= link_to 'View profile', user_path(friend), class: 'btn btn-success btn-sm' %>
              <%= link_to 'Stop following', friendship_path(friend), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-warning' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
