<div class="results-block">
  <%= render 'layouts/messages' %>
</div>
<% if @friends %>
  <% @friends.each do |friend| %>
    <div class="card card-header results-block text-center">
      <strong>Name: </strong> <%= friend.full_name %><br>
      <strong>Email: </strong> <%= friend.email %><br>
      <br>
      <%= link_to 'View profile', user_path(friend), class: 'btn btn-success btn-sm' %>
      <% if current_user.not_friends_with?(friend.id) %>
        <%= link_to 'Start following', friendships_path(friend: friend), class: 'btn btn-success btn-sm', method: :post %>
      <% else %>
        <p class="badge badge-secondary">You are friends</p>
      <% end %>
      <br>
    </div>
  <% end %>
<% end %>
