<div class="results-block">
  <%= render 'layouts/messages' %>
</div>
<% if @friends %>
  <% @friends.each do |friend| %>
    <div class="card card-header results-block text-center">
      <strong>Name: </strong> <%= friend.full_name %><br>
      <strong>Email: </strong> <%= friend.email %><br>
      <br>
      <%= link_to 'View profile', '', class: 'btn btn-success btn-sm' %>
      <%= link_to 'Start following', '', class: 'btn btn-success btn-sm', method: :post %>
      <br>
    </div>
  <% end %>
<% end %>
